

<div class="container">
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item" routerLinkActive="active" routerLink="sadmin" >SuperAdmin</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="recruiter" >Recriuter</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="users" >Users</li>
            </ul>
        </div>
        <div class="col-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
